{
    "ConnectionDefinition": {
      "ConnectionType": "ServiceAccount",
      "ServiceAccountConfString": "",
      "Region": ""
    },
    /*
    "ConnectionDefinition": {
      "ConnectionType": "GeminiApiKey",
      "ApiKey": "your-gemini-api-key"
    },
    */
    "TestFolder": ""
}
